<div class="post-nav" style="font-size:0.8em;display:flex;gap:16px;justify-content:center;">
  <p>
    {{ if .PrevInSection }}
    <a href="{{ .PrevInSection.Permalink }}"><span class="nav-arrow">←</span> <span class="nav-label">Prev Post</span></a>
    {{ else }}
    <strike><span class="nav-arrow">←</span> <span class="nav-label">Prev Post</span></strike>
    {{ end }}
  </p>
  <p>|</p>
  <p>
    {{ if .NextInSection }}
    <a href="{{ .NextInSection.Permalink }}"><span class="nav-label">Next Post</span> <span class="nav-arrow">→</span></a>
    {{ else }}
    <strike><span class="nav-label">Next Post</span> <span class="nav-arrow">→</span></strike>
    {{ end }}
  </p>
</div>
